* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(145, 142, 142);
}

h1 {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding-bottom: 10px;
  }

h2 {
    color: rgb(89, 156, 156);
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    font-style: italic;
    margin: 20px 0 40px;
}

button {
    padding: 10px 15px;
    background-color: green;
    font-weight: 700;
    margin: 20px 0;
    border: 2px solid green;;
    width: 200px;
}

button:hover {
    background-color: rgb(16, 177, 16);
    border-radius: 5px;
}

input {
    padding: 10px 15px;
    background-color: rgb(205, 240, 205);
}

a {
    text-decoration: none;
    background-color: none;
    border: 2px solid #fff;
    padding: 10px 15px;
    margin: 10px 10px;
    color: #e6dcdc;
    transition: 200ms all ease-in-out;
}

a:hover {
    text-decoration: none;
    background-color: rgb(243, 191, 213);
    padding: 10px 15px;
    margin: 10px 10px;
    color: #971313;
    border-radius: 5px;
}