* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(145, 142, 142);
}

h1 {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding-bottom: 10px;
  }

h2 {
    color: rgb(89, 156, 156);
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-style: italic;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: green;
    font-weight: 700;
    margin: 20px 0;
    border: 2px solid green;;
}

input {
    padding: 10px 15px;
    background-color: rgb(205, 240, 205);
}